<div class="swiper-slide" data-card-slide="">
  <div id="product-card-7670511337654" class="product-card " data-product-card="">
    <a
      href="#"
      class="product-card__gallery"
      data-gallery-slider=""
      data-product-url="/products/womens-tomboy-t-shirt"
    >
      <div
        class="
          product-card__gallery-slide
          is-active
        "
        href="#"
        data-product-url="/products/womens-tomboy-t-shirt"
        data-gallery-slide=""
        data-image-selector="fern"
      >
        <div class="discount-badge" data-discount-badge=""></div>

         {{ 'product-4' | placeholder_svg_tag: 'product-placeholder' }}
      </div>
    </a>
    <form target="/cart/add" class="product-card__content text-center">
      <a
        href="#"
        class="product-card__url"
        data-product-url=""
      ></a>

      <div class="product-option">
        <div class="product-option__swatch swiper" data-swatch-slider="">
          <div class="swiper-wrapper">
            <label class="product-option__single-selector swiper-slide" data-swatch-slide="">
              <input
                type="radio"
                name="option1"
                value="Fern"
                class="hide"
                data-option-name="color"
                data-product-option="option1"
                data-option-value="              White"
                checked="checked"
                data-var_url="#"
                data-var_handle="womens-tomboy-t-shirt"
                data-var_img="{{ "placeholder.png" | asset_url }}"
                data-index="option1"
                data-single-option-selector=""
              >

              <div class="product-option__ui">
                 {{ 'product-4' | placeholder_svg_tag: 'product-placeholder' }}
              </div>
            </label>

            <label class="product-option__single-selector swiper-slide" data-swatch-slide="">
              <input
                type="radio"
                name="option1"
                value="Fern"
                class="hide"
                data-option-name="color"
                data-product-option="option1"
                data-option-value="              Black"
                data-var_url="/products/womens-tomboy-t-shirt?variant=42380126355638"
                data-var_handle="womens-tomboy-t-shirt"
                data-var_img="{{ "placeholder.png" | asset_url }}"
                data-index="option1"
                data-single-option-selector=""
              >

              <div class="product-option__ui">
                <img
                  src="{{ "placeholder.png" | asset_url }}"
                  srcset="{{ "placeholder.png" | asset_url }}"
                  class=""
                  sizes="(max-width: 992px) 15vw, 6vw"
                  loading="lazy"
                  alt="Black / S"
                >
              </div>
            </label>

            <label class="product-option__single-selector swiper-slide" data-swatch-slide="">
              <input
                type="radio"
                name="option1"
                value="Fern"
                class="hide"
                data-option-name="color"
                data-product-option="option1"
                data-option-value="Green"
                data-var_url="/products/womens-tomboy-t-shirt?variant=42380126486710"
                data-var_handle="womens-tomboy-t-shirt"
                data-var_img="{{ "placeholder.png" | asset_url }}"
                data-index="option1"
                data-single-option-selector=""
              >

              <div class="product-option__ui">
                {{ "product-4" | placeholder_svg_tag }}
              </div>
            </label>
          </div>
          <div class="swiper-scrollbar product-option__scrollbar"></div>
        </div>
      </div>

      <span class="product-card__color-title" data-color-title="" data-color-index="option1"> White </span>

      <h4 class="product-card__title">Title</h4>

      <div class="product-card__price-container">
        <s class="product-card__compare-price" data-compare-price=""> </s>
        <span class="product-price" data-product-price=""> Rs. 00.00 </span>
      </div>

      <input
        type="hidden"
        data-option-name="Size"
        data-single-option-selector=""
        data-drawer-field=""
        data-product-option="option2"
        data-option-index="option2"
        data-product-title="WOMEN'S TOMBOY T⁠-⁠SHIRT"
      >
      <input type="hidden" name="quantity" value="1">
      <input type="hidden" name="id">
    </form>

    <div class="product-card__add-to-cart-container">
      <button class="pro_add_cart" data-option-drawer-trigger="">
        <img
          loading="lazy"
          src="//3istore-v2.myshopify.com/cdn/shop/t/5/assets/bag.svg?v=139305778137214252241694510426"

        >Add TO BAG
      </button>
      <div class="wishlist_icn">
         <button
        data-with-epi="true"
        class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
        data-swaction="addToWishlist"
        data-product-id="{{product.id | json}}"
        data-variant-id="{{current_variant.id}}"
        data-product-url="{{ shop.url }}{{ product.url }}"
      >
        <span>WISHLIST</span>
      </button>
      </div>
    </div>
  </div>
</div>
