{% assign current_variant = product.selected_or_first_available_variant %}
<div id="product-card-{{ product.id }}" class="product-card " data-product-card>
  <a
    href="{{ current_variant.url }}"
    class="product-card__gallery"
    data-gallery-slider
    data-product-url="{{ product.url }}"
  >
    <div
      class="
        product-card__gallery-slide
        is-active
      "
      href="{{ current_variant.url }}"
      data-product-url="{{ product.url }}"
      data-gallery-slide
      data-image-selector="fern"
    >
      <div class="discount-badge" data-discount-badge></div>
  
      {% if product.featured_image != blank %}
        
        <img
          src="{{ product.featured_image | img_url: "1024x" }}"
          class="product-card__image"
          loading="lazy"
          alt=""
        >
      {% else %}
        <img
          src="{{ 'placeholder.png' | asset_url }}"
          class="product-card__image"
          loading="lazy"
          alt=""
        >
      {% endif %}
    </div>
  </a>
  <form target="/cart/add" class="product-card__content text-center">
    <a
      href="{{ current_variant.url }}"
      class="product-card__url"
      data-product-url="{{ product.url }}"
    ></a>
    {% unless product.has_only_default_variant %}
      <div class="product-option">
        <div class="product-option__swatch swiper" data-swatch-slider>
          <div class="swiper-wrapper">
            {% for option in product.options %}
              {% if option == 'Color' or option == 'color' %}
                {% assign index = forloop.index0 %}
                {% assign colorlist = '' %}
                {% assign color = '' %}
                {% for variant in product.variants %}
                  {% capture color %}
                  {{ variant.options[index] }}
                  {% endcapture %}
                      {% unless colorlist contains color %}
                        <label class="product-option__single-selector swiper-slide {% if forloop.first %}swiper-slide-active{% endif %}" data-swatch-slide>
                          <input
                            onclick="Vardetails(this);"
                            type="radio"
                            name="option1"
                            value="{{- color | escape -}}"
                            class="hide"
                            data-option-name="color"
                            data-product-option="option1"
                            data-option-value="{{- color | escape -}}"
                            {% if forloop.first %}
                              checked="checked"
                            {% endif %}
                            data-var_url="{{ variant.url }}"
                            data-var_handle="{{ product.handle }}"
                            data-var_img="{{ variant.image | img_url:"1024x" }}"
                            data-index="option1"
                            data-available="{{ variant.available }}"
                            data-quantity="{{ variant.inventory_quantity }}"
                            data-single-option-selector
                          >
    
                          <div class="product-option__ui">
                            <img
                              src="{{ variant.image | img_url: "1024x" }}"
                              srcset="{{ variant.image | img_url: "1024x" }}"
                              class=""
                              sizes="(max-width: 992px) 15vw, 6vw"
                              loading="lazy"
                              alt="{{ variant.title }}"
                            >
                          </div>
                        </label>
                  {% capture tempList %}
                  {{colorlist | append: color | append: ' '}}
                  {% endcapture %}
                    {% assign colorlist = tempList %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-scrollbar product-option__scrollbar"></div>
        </div>
      </div>

      <span class="product-card__color-title" data-color-title data-color-index="option1">
        {%- for option in product.options_with_values -%}
          {% assign opt_handle = option.name | handleize %}
          {% if opt_handle == 'color' or opt_handle == 'colour' %}
            {%- for value in option.values -%}
              {{ value | escape }}
              {% break %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </span>
    {% endunless %}
    <h4 class="product-card__title">{{ product.title }}</h4>

    <div class="product-card__price-container">
      <s class="product-card__compare-price" data-compare-price> </s>
      <span class="product-price" data-product-price> {{ current_variant.price | money }} </span>
    </div>
    <input
      type="hidden"
      data-option-name="Size"
      data-single-option-selector
      data-drawer-field
      data-product-option="option2"
      data-option-index="option2"
      data-product-title="{{ product.title }}"
    >
    <input type="hidden" name="quantity" value="1">
    <input type="hidden" name="id">
  </form>

  <div class="product-card__add-to-cart-container">
    <button
      class="{% if current_variant.available == true %}pro_add_cart{% else %}sold_out{% endif %} {% if current_variant.option2 %}has_size{% endif %}"
      {% unless current_variant.option2 %}data-variant-id="{{current_variant.id}}"{% endunless %}
      data-option-drawer-trigger
      {% if current_variant.available == false %}
        disabled
      {% endif %}
    >
      <img loading="lazy" src="{{ 'bag.svg' | asset_url }}">
      <span>
        {% if current_variant.available == true %}
          ADD TO BAG
        {% else %}
          SOLD OUT
        {% endif %}
      </span>
    </button>

    <div class="wishlist_icn">
      <!-- Swym Wishlist Plus EPI Button -->
      <button
        data-with-epi="true"
        class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
        data-swaction="addToWishlist"
        data-product-id="{{product.id | json}}"
        data-variant-id="{{current_variant.id}}"
        data-product-url="{{ shop.url }}{{ product.url }}"
      >
        <span>WISHLIST</span>
      </button>
      <!-- Swym Wishlist Plus EPI Button -->
    </div>
  </div>
</div>
