 <media-grid class="media-grid">
      <div
        class="media-grid__item shadow group"
        reveal-js=""
        style="--media-grid-column-span: 2; --media-grid-row-span: 2; opacity: 1; transform: translateY(0px);"
      >
        <div
          id="media-grid-{{ section.id }}"
          class="content-over-media rounded bg-custom text-custom"
          style="--background: 0 0 0; --text-color: 255 255 255;"
        >
          <div class="vid_container">
            <video
              id="player"
              class="bvideo"
              autoplay
              {% if block.settings.thumbnail != blank %}
                poster="{{ block.settings.thumbnail | image_url: "1200x" }}"
              {% endif %}
            >
              {% if block.settings.video_link != blank %}
                <source
                  src="{{ block.settings.video_link }}"
                  type="video/mp4"
                >
              {% else %}
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/dca3da5ba23f4dc4a4bbec7fb73f778d.mp4"
                  type="video/mp4"
                >
              {% endif %}
            </video>

            <div id="ply_icn" class="ply_icn">
              <img id="ply_btn" src="{{ "play.png" | asset_url }}" class="">
            </div>

          </div>
        </div>
      </div>

      <a
        href="{{ block.settings.link_1 }}"
        class="media-grid__item shadow group"
        reveal-js=""
        style="--media-grid-column-span: 1; --media-grid-row-span: 1; opacity: 1; transform: translateY(0px);"
      >
        <div
          id="media-grid-1656690285827df07c-1"
          class="custom_img content-over-media rounded bg-custom text-custom"
          style=" --text-color: 255 255 255;"
        >block
          {% if block.settings.image_1 != blank %}
            <img
              src="{{ block.settings.image_1 | img_url:"699x" }}"
              alt=""
              srcset="{{ block.settings.image_1 | img_url:"699x" }}"
              height="1500"
              loading="lazy"
              sizes="(max-width: 699px) 100vw, min(390px, 25vw)"
              class="content-over-media__media zoom-image"
            >
            {% else %}
               {{ 'image' | placeholder_svg_tag: 'my-custom-class' }}
          {% endif %}
          {% if block.settings.title_1 != blank %}
            <div
              class="custom_txt place-self-end-start text-start sm:place-self-end-start sm:text-start"
              style="opacity: 1;"
            >
              <div class="prose">
                <p class="h5">{{ block.settings.title_1 }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      </a>
      <a href="{{ block.settings.link_2 }}"
        class="media-grid__item shadow group"
        reveal-js=""
        style="--media-grid-column-span: 1; --media-grid-row-span: 1; opacity: 1; transform: translateY(0px);"
      >
        <div
          id="media-grid-1656690285827df07c-2"
          class="custom_img content-over-media rounded bg-custom text-custom"
          style="--text-color: 255 255 255;"
        >
          {% if block.settings.image_2 != blank %}
            <img
              src="{{  block.settings.image_2 | image_url:"699x" }}"
              alt=""
              srcset="{{ block.settings.image_2 | image_url:"699x" }}"
              width="1500"
              height="1500"
              loading="lazy"
              sizes="(max-width: 699px) 100vw, min(390px, 25vw)"
              class="content-over-media__media zoom-image"
            >
            {% else %}
                {{ 'image' | placeholder_svg_tag: 'my-custom-class' }}
          {% endif %}
          {% if block.settings.title_2 != blank %}
            <div
              class="custom_txt place-self-end-start text-start sm:place-self-end-start sm:text-start"
              style="opacity: 1;"
            >
              <div class="prose">
                <p class="h5">{{ block.settings.title_2 }}</p>
              </div>
            </div>
          {% endif %}
        </div>
        </a>
      <a
        href="{{ block.settings.link_3 }}"
        class="media-grid__item shadow group"
        reveal-js=""
        style="--media-grid-column-span: 2; --media-grid-row-span: 1; opacity: 1; transform: translateY(0px);"
      >
        <div
          id="media-grid-71ce7a5d-9eff-4b1a-8897-31b748afbc2b"
          class="custom_img content-over-media rounded bg-custom text-custom"
          style=" --text-color: 255 255 255;"
        >
          {% if block.settings.image_3 != blank %}
            <img
              src="{{  block.settings.image_3 | img_url:"1000x"  }}"
              alt=""
              srcset="{{  block.settings.image_3 | img_url:"1000x"  }}"
              width="1500"
              height="1000"
              loading="lazy"
              sizes="(max-width: 699px) 100vw, min(780px, 50vw)"
              class="content-over-media__media zoom-image"
            >
          {% else %}
              {{ 'image' | placeholder_svg_tag: 'my-custom-class' }}
          {% endif %}
          {% if block.settings.title_3 != blank %}
            <div
              class="custom_txt place-self-end-start text-start sm:place-self-end-start sm:text-start"
              style="opacity: 1;"
            >
              <div class="prose">
                <p class="h3">{{ block.settings.title_3 }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      </a>
 </media-grid>
 
 {% schema %}
  {
    "name": "New - Collage",
    "settings": [
       {
       "type": "header",
       "content": "Video"
     },
     {
       "type": "text",
       "id":"video_link",
       "label": "Video Link",
       "info": "Upload Video in content > files and paste URL here"
     },
     {
       "type": "image_picker",
       "id":"thumbnail",
       "label": "Video Thumbnail"
     },
     {
       "type": "header",
       "content": "Top Images"
     },
     {
       "type": "image_picker",
       "id":"image_1",
       "label": "Image 1",
       "info":"1000 X 1000"
     },
          {
           "type": "text",
           "id":"title_1",
           "label": "Title 1",
           "default":"MW08 Sport"
         },
          {
           "type": "url",
           "id":"link_1",
           "label": "Link 1"
         },
     {
       "type": "image_picker",
       "id":"image_2",
       "label": "Image 2",
       "info":"1000 X 1000"
     },
          {
           "type": "text",
           "id":"title_2",
           "label": "Title 2",
           "default":"Accessories"
         },
              {
           "type": "url",
           "id":"link_2",
           "label": "Link 2"
         },
     {
       "type": "header",
       "content": "Bottom Image"
     },
     {
       "type": "image_picker",
       "id":"image_3",
       "label": "Image 3",
       "info":"1000 X 667"
     },
        {
           "type": "text",
           "id":"title_3",
           "label": "Title 3",
           "default":"Wireless"
         },
              {
           "type": "url",
           "id":"link_3",
           "label": "Link 3"
         }
    ],
    "presets":[
      {
        "name":"New - Collage"
      }
    ]
  }
{% endschema %}