{%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
<div>
  <a href="{{ block.settings.button_link }}" 
    class="{%- if block.settings.link_button -%} btn-link {%- else -%}btn block-btn btn-white-m hero__btn{%- endif -%}"
    style="{%- if block.settings.link_button -%}color:{{- block.settings.text_color -}}{%- else -%}   background: {{- block.settings.background_color -}};  color: {{- block.settings.text_color -}};  border-radius: {{- block.settings.border_radius -}}px;{%- endif -%}">
    {{ block.settings.button_text }} 
  </a>
</div> 
{%- endif -%}


 {% schema %}
  {
    "name": "New - Button",
    "settings": [
       {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Url"
    },
    {
       "type": "checkbox",
        "id": "link_button",
        "label": "Link Button"
    },
     {
       "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default":"#fff"
    },
    {
       "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default":"#000"
    },
    {
          "type": "range",
          "id": "border_radius",
          "label": "Border Radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 90
        }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}