{%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
<div {{ block.shopify_attributes }}>
  <a href="{{ block.settings.button_link }}" class="btn {{ block.settings.button_type }}">
    {{ block.settings.button_text }} 
  </a>
</div>
<button class="pro_add_cart " data-variant-id="48034888253741" data-option-drawer-trigger="">
  <img loading="lazy" src="{{ 'bag.svg' | asset_url }}" />
  <span>ADD TO BAG</span>
</button>
{%- endif -%}


 {% schema %}
  {
    "name": "New - Button",
    "tag": null,
    "settings": [
    {
    "type": "text",
    "id": "button_text",
    "label": "Button Text",
    "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Url",
      "default": "/"
    },
    {
     "type": "select",
      "id": "button_type",
      "label": "Select Button type",
      "options": [
        {
          "value": "block-button",
          "label": "Block Button"
        },
        {
          "value": "ovel-button",
          "label": "Ovel Button"
        }
      ],
      "default":"block-button"
    }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}