<style>
  .block-btn{
    background: {{- block.settings.background_color -}};
    color: {{- block.settings.text_color -}};
    border-radius: {{- block.settings.border_radius -}}px;
  }
</style>

{%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
  <div>
        <a href="{{ block.settings.button_link }}" class="btn block-btn btn-white-m hero__btn">
          {{ block.settings.button_text }}
        </a>
</div>
{%- endif -%}
 {% schema %}
  {
    "name": "New - Button",
    "settings": [
       {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Url"
    },
     {
       "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default":"#fff"
    },
    {
       "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default":"#000"
    },
    {
          "type": "range",
          "id": "border_radius",
          "label": "t:sections.slideshow.blocks.image.content_maximum_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 90
        }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}