 <style>
     
</style>
<div class="row">
  <div class="card-slider__heading">
    <div class="card-slider__info-container">
      {% if block.settings.heading != blank %}
        <h2 class="card-slider__title  {{ block.settings.select_heding }}">{{ block.settings.heading }}</h2>
      {% endif %}
      {% if block.settings.content != blank %}
        <p class="card-slider__content p3">{{ block.settings.content }}</p>
      {% endif %}
    </div>
    {% if block.settings.button_url != blank and block.settings.button_text != blank %}
    <div class="card-slider__cta-container">
      <a class="btn-link card-slider__button" href="{{ block.settings.button_url }}">
      {{ block.settings.button_text }}
      </a>
    </div>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "NEW - Content Group",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default":"NEW DROPS"
    },
    {
      "type": "select",
      "id": "select_heding",
      "label": "Select Heading",
      "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ]
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default":"The latest Sport Utility Gear to hit the site."
    },
     {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
       "type": "color",
        "id": "heading_color",
        "label": "Heading Color"
    },
    {
       "type": "color",
        "id": "text_color",
        "label": "Text Color"
    }
  ],
  "presets": [
    {
      "name": "NEW - Content Group"
    }
  ]
}
{% endschema %}