  {% if block.settings.image != blank %}
    <img
      src="{{ blockblock.settings.image | img_url:"1920x" }}"
      srcset="{{ block.settings.image | img_url:"1920x" }}"
      class="hero__bg hero__bg--desktop"
      sizes="100vw"
      loading="lazy"
      alt=""
    >
  {% else %}
    <!-- <img
      src="{{ 'banner_placeholder.png' | asset_url }}"
      srcset="{{ 'banner_placeholder.png' | asset_url }}"
      class="hero__bg hero__bg--desktop"
      sizes="100vw"
      loading="lazy"
      alt=""
    > -->
    <div class="hero__bg--desktop">
    {{ 'lifestyle-1' | placeholder_svg_tag }}
    </div>
    
  {% endif %}
  {% if block.settings.image2 != blank %}
    <img
      src="{{ block.settings.image2 | img_url:"856x" }}"
      srcset="{{ block.settings.image2 | img_url:"856x" }}"
      class="hero__bg hero__bg--mobile"
      sizes="100vw"
      loading="lazy"
      alt=""
    >
  {% else %}
    <img
      src="{{ 'dummy_856x1200_ffffff_cccccc.png' | asset_url }}"
      srcset="{{ 'dummy_856x1200_ffffff_cccccc.png' |  asset_url }}"
      class="hero__bg hero__bg--mobile"
      sizes="100vw"
      loading="lazy"
      alt=""
    >
  {% endif %}
 
 
 {% schema %}
  {
    "name": "New Banner image",
    "settings": [
        {
           "type": "image_picker",
            "id": "image",
            "label": "Desk Image"
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": "Mobile Image"
    }
    ],
     "presets": [
      {
        "name":"NEW - Banner image"
      }
    ]
  }
{% endschema %}