<link href="{{ 'filter.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
{%- liquid
  assign results = collection
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<!-- this code only for look section code so don't delete -->
<div id="render_look" style="display:none;">
  {% for product in collection.products limit: 5 %}
    <div class="swiper-slide">
      {% include 'product_items', product: product %}
    </div>
  {% endfor %}
</div>

<div class="findify-template-container container-fluid">
  <div class="row justify-content-center">
    <div class="col-22 col-md-20 col-lg-22 col-xl-22" data-collection-template="" id="collection">
      <div>
        <div class="findify-header">
          <div class="findify-header__filter-container ">
            <button class="findify-header__filter-toggle-btn" id="custom_filter">
              <div class="findify-header__filter-icon icon-filter"><span class="icon-filter__dots"></span></div>
              <div class="findify-header__filter-title">Filters</div>
            </button>
          </div>
          {%- unless results.filters == empty -%}
            <div class="findify-header__sort-container">
              <div class="sort_by_main product-facet__meta-bar-item product-facet__meta-bar-item--sort">
                <img
                  alt="sort-by"
                  width="12"
                  height="12"
                  class="icon mr-1 hidden-pocket"
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/sort_2_1.png?v=1675078334"
                >
                <span class="product-facet__sort-by-title text--subdued hidden-pocket"> Sort by : </span>
                <div class="popover-container">
                  <button
                    type="button"
                    is="toggle-button"
                    class="popover-button hidden-pocket"
                    aria-expanded="true"
                    aria-controls="sort-by-popover"
                  >
                    {% capture selected_sort %}{%- for option in results.sort_options -%}{% if option.value == sort_by %}{{ option.name | escape }}{% endif %}{%- endfor -%}{% endcapture %}
                    <span id="sort-by-selected-value" style="pointer-events: none">{{ selected_sort }}</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </button>
                  <sort-by-popover id="sort-by-popover" class="popover" style="display:none;">
                    <span class="popover__overlay"></span>
                    <div class="popover__content">
                      <div class="popover__choice-list">
                        {%- for option in results.sort_options -%}
                          <label class="popover__choice-item">
                            <input
                              type="radio"
                              data-bind-value="sort-by-selected-value"
                              class="visually-hidden"
                              {% if option.value == sort_by %}
                                checked="checked"
                              {% endif %}
                              name="sort_by"
                              value="{{ option.value | escape }}"
                              title="{{ option.value | escape }}"
                            >
                            <span class="popover__choice-label">{{ option.name | escape }}</span>
                          </label>
                        {%- endfor -%}
                      </div>
                    </div>
                  </sort-by-popover>
                </div>
              </div>
            </div>
          {%- endunless -%}
        </div>

        <div class="product-facet__active-list tag-list hidden-tablet-and-up">
          {%- for filter in results.filters -%}
            {%- for val in filter.active_values -%}
              <div class="tag">
                <div
                  data-action="clear-filters"
                  class="facet-remove tag__icon tap-area"
                  aria-label="Delete"
                  data-label="{{ val.label | escape }}"
                >
                  <div class="icon_remove">
                    <svg
                      enable-background="new 0 0 386.667 386.667"
                      height="512"
                      viewBox="0 0 386.667 386.667"
                      width="512"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentcolor"
                      class="icon icon-close"
                    >
                      <path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"></path>
                    </svg>
                  </div>
                </div>
                {{- filter.label }}: {{ val.label | escape }}
              </div>
            {% endfor %}
          {% endfor %}
          {%- for filter in results.filters -%}
            {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
            {% if total_active_values > 0 %}
              <div
                data-action="clear-filters"
                class="facet-remove-all tag-link link text--subdued"
              >
                Clear all
              </div>
              {% break %}
            {% endif %}
          {% endfor %}
        </div>

        {%- paginate collection.products by 8 -%}
          <div class="findify__body row">
            <div class="findify__loading-container"><div class="findify__loading-spinner"></div></div>
            {% render 'filters',
              results: results,
              enable_filtering: true,
              enable_sorting: true,
              paginate: paginate,
              total_active_values: total_active_values,
              sort_by: sort_by,
              terms: terms
            %}
            <div class="collection__grid col-24">
              <div
                id="product-grid"
                data-id="{{ section.id }}"
                class="row content-grid content-grid--1-col content-grid--md-2-col content-grid--lg-3-col content-grid--xl-4-col"
              >
                {% for product in collection.products %}
                  <div class="content-grid__item">
                    {% include 'product_items', product: product %}
                  </div>
                {% endfor %}
              </div>

              <div class="collection page-width grid-loader">
                {%- if paginate.pages > 1 and paginate.next -%}
                  <input type="hidden" value="{{ paginate.next.url }}" data-next-link>
                  <input type="hidden" value="{{ paginate.pages }}" data-all-pages>
                  <input type="hidden" value="{{ paginate.current_page }}" data-this-page>
                  <input type="hidden" value="{{ collection.url }}" data-coll-url>
                  <div class="load-more_wrap">
                    <button id="loadMore" class="btn js-load-more btn--primary hero__btn button ">
                      <span load-more-text>Load More</span>
                      <span class="hide" loader>
                        <img src="{{ 'loader.gif' | asset_url }}">
                      </span>
                    </button>
                  </div>
                {%- endif -%}
              </div>
            </div>

            <span class="drawer__overlay"></span>
          </div>
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>

<style>
  .load-more_wrap{
    margin-top: 100px;
    text-align: center;
  }
  .load-more_wrap img{
    max-width: 25px;
  }
  .pagination{
    display: none !important;
  }
  {% if collection.handle == 'all' %}
  .facets__summary.button {
    min-width:225px;
  }
  {% endif %}
</style>
{% include 'col_description' %}

{% schema %}
{
  "name": "Collection Product Grid",
  "class":"collection-main-grid",
  "settings": [],
      "presets": [
      {
        "name": "Collection Product Grid"
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
