{% comment %} <div class="header__filler" data-header-filler="" style="height: 70px;"></div> {% endcomment %}
  <div class="navigation" {% comment %}style="top: 70px; height: calc(100% - 70px);"{% endcomment %}>
    <div class="navigation-body">
      <div class="navigation-body__container">
        <div class="navigation-categories swiper swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
          <div class="swiper-wrapper tabs-list">
            {% for block in section.blocks %}
              {% if block.settings.title != blank %}
              <a href="#tab_{{ block.id }}" class="swiper-slide navigation-categories__button {% if forloop.first %}navigation-categories__button--active{% endif %}">
              {{- block.settings.title -}}
              </a>
              {% endif %}
            {% endfor %}
            {% comment %}
            {% if section.settings.tab_title_1 != blank %}
              <a href="#tab1" class="swiper-slide navigation-categories__button navigation-categories__button--active">
                {{- section.settings.tab_title_1 -}}
              </a>
            {% endif %}
            {% if section.settings.tab_title_2 != blank %}
              <a href="#tab2" class="swiper-slide navigation-categories__button">
                {{ section.settings.tab_title_2 -}}
              </a>
            {% endif %}
            {% if section.settings.tab_title_3 != blank %}
              <a href="#tab3" class="swiper-slide navigation-categories__button">
                {{ section.settings.tab_title_3 -}}
              </a>
            {% endif %}
            {% if section.settings.tab_title_4 != blank %}
              <a href="#tab4" class="swiper-slide navigation-categories__button">
                {{ section.settings.tab_title_4 -}}
              </a>
            {% endif %}
            {% if section.settings.tab_title_5 != blank %}
              <a href="#tab5" class="swiper-slide navigation-categories__button">
                {{ section.settings.tab_title_5 -}}
              </a>
            {% endif %}
            {% endcomment %}
          </div>
        </div>
        <div class="navigation-blocks">
          {% content_for "blocks" %}
          {% if section.settings.tab_title_1 != blank %}
            <div id="tab1" class="tab_inner active" style="display:block;">
              <div data-shopify-editor-block="" class="card-grid">
                {% if section.settings.tab_grid_title_1 != blank %}
                  <div class="card-grid__title">{{ section.settings.tab_grid_title_1 }}</div>
                {% endif %}
                <div class="card-grid__grid">
                  {% for block in section.blocks %}
                    {% if block.type == 'tab_one_grid' %}
                      {% assign collection = block.settings.tab_1_collection %}
                      {% if collection != blank %}
                        <a
                          href="{{ collection.url }}"
                          class="image_card {% if block.settings.enable_highlight_tab1 != blank %}image_card--highlighted{% endif %}"
                        >
                          <div class="image-card__image-container frame frame--1x1">
                            {% if collection.image != blank %}
                              <img
                                src="{{ collection.image | img_url: 'master' }}"
                                srcset="{{ collection.image | img_url: 'master' }}"
                                sizes="(max-width: 450px) 50w, (max-width: 992px) 176px, 148px"
                                loading="lazy"
                                alt="{{ collection.title }}"
                                class="frame__inner"
                              >
                            {% else %}
                              <img
                                src="{{ 'placeholder.png' | asset_url }}"
                                srcset="{{ 'placeholder.png' | asset_url }}"
                                sizes="(max-width: 450px) 50w, (max-width: 992px) 176px, 148px"
                                loading="lazy"
                                alt="{{ collection.title }}"
                                class="frame__inner"
                              >
                            {% endif %}
                          </div>
                          <div class="image-card__title">
                            {% if block.settings.highlight_text_tab1 != blank -%}
                              <b class="image-card__highlight-text">{{ block.settings.highlight_text_tab1 }}</b>
                            {%- endif %}
                            {{ collection.title }}
                          </div>
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% if section.settings.tab_button_caption_1 != blank and section.settings.tab_button_link_1 != blank %}
                <a
                  href="{{ section.settings.tab_button_link_1 }}"
                  target=""
                  data-shopify-editor-block=""
                  class="cta  cta--bottom-space"
                  ><span class="cta__label"> {{ section.settings.tab_button_caption_1 }} </span>
                  <div class="cta__icon"><span class="cta__arrow-icon"></span></div>
                </a>
              {% endif %}
              <div class="navigation-carousel">
                {% if section.settings.tab_slider_title_1 != blank %}
                  <div class="navigation-carousel__title">{{ section.settings.tab_slider_title_1 }}</div>
                {% endif %}
                <div class="navigation-carousel__slider swiper swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
                  <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    {% for block in section.blocks %}
                      {% if block.type == 'tab_one_slider' %}
                        <a
                          href="{{ block.settings.tab_1_link }}"
                          class="navigation-carousel__card swiper-slide"
                          style="width: 256.111px; margin-right: 15px;"
                        >
                          <div class="navigation-carousel__image-container frame frame--16x9">
                            {% if block.settings.tab_1_image != blank %}
                              <img
                                src="{{ block.settings.tab_1_image | img_url:'master' }}"
                                srcset="{{ block.settings.tab_1_image | img_url:'master' }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="{{ block.settings.tab_1_image.alt }}"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% else %}
                              <img
                                src="{{ 'placeholder.png' | asset_url }}"
                                srcset="{{ 'placeholder.png' | asset_url }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="placeholder"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% endif %}
                          </div>

                          {% if block.settings.tab_1_text != blank %}
                            <div class="navigation-carousel__card-title">
                              {{ block.settings.tab_1_text }}
                            </div>
                          {% endif %}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="navigation-carousel__arrows-container">
                    <div data-arrow-prev="true" class="navigation-carousel__arrow--prev swiper-button-disabled"></div>
                    <div data-arrow-next="true" class="navigation-carousel__arrow--next"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if section.settings.tab_title_2 != blank %}
            <div id="tab2" class="tab_inner">
              <div data-shopify-editor-block="" class="card-grid">
                {% if section.settings.tab_grid_title_2 != blank %}
                  <div class="card-grid__title">{{ section.settings.tab_grid_title_2 }}</div>
                {% endif %}
                <div class="card-grid__grid">
                  {% for block in section.blocks %}
                    {% if block.type == 'tab_two_grid' %}
                      {% assign collection = block.settings.tab_2_collection %}
                      {% if collection != blank %}
                        <a
                          href="{{ collection.url }}"
                          class="image_card {% if block.settings.enable_highlight_tab1 != blank %}image_card--highlighted{% endif %}"
                        >
                          <div class="image-card__image-container frame frame--1x1">
                            <img
                              src="{{ collection.image | img_url: 'master' }}"
                              srcset="{{ collection.image | img_url: 'master' }}"
                              sizes="(max-width: 450px) 50w, (max-width: 992px) 176px, 148px"
                              loading="lazy"
                              alt="{{ collection.title }}"
                              class="frame__inner"
                            >
                          </div>
                          <div class="image-card__title">
                            {% if block.settings.highlight_text_tab1 != blank -%}
                              <b class="image-card__highlight-text">{{ block.settings.highlight_text_tab1 }}</b>
                            {%- endif %}
                            {{ collection.title }}
                          </div>
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% if section.settings.tab_button_caption_2 != blank and section.settings.tab_button_link_2 != blank %}
                <a
                  href="{{ section.settings.tab_button_link_2 }}"
                  target=""
                  data-shopify-editor-block=""
                  class="cta  cta--bottom-space"
                  ><span class="cta__label"> {{ section.settings.tab_button_caption_2 }} </span>
                  <div class="cta__icon"><span class="cta__arrow-icon"></span></div>
                </a>
              {% endif %}
              <div class="navigation-carousel">
                {% if section.settings.tab_slider_title_2 != blank %}
                  <div class="navigation-carousel__title">{{ section.settings.tab_slider_title_2 }}</div>
                {% endif %}
                <div class="navigation-carousel__slider swiper swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
                  <div
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"
                  >
                    {% for block in section.blocks %}
                      {% if block.type == 'tab_two_slider' %}
                        <a
                          href="{{ block.settings.tab_1_link }}"
                          class="navigation-carousel__card swiper-slide"
                          style="width: 256.111px; margin-right: 15px;"
                        >
                          <div class="navigation-carousel__image-container frame frame--16x9">
                            {% if block.settings.tab_2_image != blank %}
                              <img
                                src="{{ block.settings.tab_2_image | img_url:'master' }}"
                                srcset="{{ block.settings.tab_2_image | img_url:'master' }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="{{ block.settings.tab_2_image.alt }}"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% else %}
                              <img
                                src="{{ 'placeholder.png' | asset_url }}"
                                srcset="{{ 'placeholder.png' | asset_url }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="placeholder"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% endif %}
                          </div>

                          {% if block.settings.tab_2_text != blank %}
                            <div class="navigation-carousel__card-title">
                              {{ block.settings.tab_2_text }}
                            </div>
                          {% endif %}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="navigation-carousel__arrows-container">
                    <div data-arrow-prev="true" class="navigation-carousel__arrow--prev swiper-button-disabled"></div>
                    <div data-arrow-next="true" class="navigation-carousel__arrow--next"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if section.settings.tab_title_3 != blank %}
            <div id="tab3" class="tab_inner">
              <div class="navigation-carousel">
                {% if section.settings.tab_slider_title_3 != blank %}
                  <div class="navigation-carousel__title">{{ section.settings.tab_slider_title_3 }}</div>
                {% endif %}
                <div class="navigation-carousel__slider swiper swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
                  <div
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"
                  >
                    {% for block in section.blocks %}
                      {% if block.type == 'tab_three_slider' %}
                        <a
                          href="{{ block.settings.tab_3_link }}"
                          class="navigation-carousel__card swiper-slide"
                          style="width: 256.111px; margin-right: 15px;"
                        >
                          <div class="navigation-carousel__image-container frame frame--16x9">
                            {% if block.settings.tab_3_image != blank %}
                              <img
                                src="{{ block.settings.tab_3_image | img_url:'master' }}"
                                srcset="{{ block.settings.tab_3_image | img_url:'master' }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="{{ block.settings.tab_3_image.alt }}"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% else %}
                              <img
                                src="{{ 'placeholder.png' | asset_url }}"
                                srcset="{{ 'placeholder.png' | asset_url }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="placeholder"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% endif %}
                          </div>

                          {% if block.settings.tab_3_text != blank %}
                            <div class="navigation-carousel__card-title">
                              {{ block.settings.tab_3_text }}
                            </div>
                          {% endif %}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="navigation-carousel__arrows-container">
                    <div data-arrow-prev="true" class="navigation-carousel__arrow--prev swiper-button-disabled"></div>
                    <div data-arrow-next="true" class="navigation-carousel__arrow--next"></div>
                  </div>
                </div>
              </div>
              {% for block in section.blocks %}
                {% if block.type == 'tab_three_image_text' %}
                  <a
                    href="{{ block.settings.tab_3_link }}"
                    id="18c7c6df-1835-47e3-85f8-bd070170bb21"
                    data-shopify-editor-block=""
                    class="card-block   "
                  >
                    <div class="card-block__content">
                      <div class="card-block__image-container frame frame--16x9">
                        {% if block.settings.tab_3_image != blank %}
                          <img
                            src="{{ block.settings.tab_3_image | img_url: "master" }}"
                            srcset="{{ block.settings.tab_3_image | img_url: "master" }}"
                            sizes="(max-width: 450px) 90w, (max-width: 991px) 357px, 237px"
                            loading="lazy"
                            alt=""
                            class="card-block__image frame__inner"
                          >
                        {% else %}
                          <img
                            src="{{ 'placeholder.png' | asset_url }}"
                            srcset="{{ 'placeholder.png' | asset_url }}"
                            sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                            loading="lazy"
                            alt="placeholder"
                            class="frame__inner navigation-carousel__image"
                          >
                        {% endif %}
                      </div>
                      <div class="card-block__body-container">
                        {% if block.settings.tab_3_text != blank %}
                          <div class="card-block__title">{{ block.settings.tab_3_text }}</div>
                        {% endif %}
                        {% if block.settings.tab_3_content != blank %}
                          <div class="card-block__description">{{ block.settings.tab_3_content }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          {% if section.settings.tab_title_4 != blank %}
            <div id="tab4" class="tab_inner">
              <div id="3688f3d4-55b9-412c-9ed6-1ae8a88ead81" class="info-card__container">
                {% if section.settings.tab_customer_title != blank %}
                  <h2 class="info-card__header">{{ section.settings.tab_customer_title }}</h2>
                {% endif %}
                <div class="info-card">
                  <div class="info-card__image-container frame frame--1x1">
                    {% if section.settings.tab_customer_image != blank %}
                      <img
                        src="{{ section.settings.tab_customer_image | img_url: "80x" }}"
                        class="frame__inner info-card__image"
                      >
                    {% else %}
                      <img
                        src="{{ "placeholder.png" | asset_url }}"
                        class="frame__inner info-card__image"
                      >
                    {% endif %}
                  </div>
                  {% if section.settings.cust_in_title != blank %}
                    <h3 class="info-card__title">{{ section.settings.cust_in_title }}</h3>
                  {% endif %}
                  {% if section.settings.cust_in_content != blank %}
                    <div>
                      <p class="info-card__body">
                        {{ section.settings.cust_in_content }}
                      </p>
                    </div>
                  {% endif %}
                  <div class="info-card__buttons-container">
                    {% if section.settings.btn_1_caption != blank and section.settings.btn_1_link != blank %}
                      <a href="{{ section.settings.btn_1_link }}" class="btn btn-white">
                        {{- section.settings.btn_1_caption -}}
                      </a>
                    {% endif %}
                    {% if section.settings.btn_2_caption != blank and section.settings.btn_2_link != blank %}
                      <a href="{{ section.settings.btn_2_link }}" class="btn btn-white">
                        {{- section.settings.btn_2_caption -}}
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% for block in section.blocks %}
                {% if block.type == 'tab_four_buttons' %}
                  {% if block.settings.tab_btn_caption_1 != blank and block.settings.tab_btn_link_1 != blank %}
                    <a
                      href="{{ block.settings.tab_btn_link_1 }}"
                      target=""
                      data-shopify-editor-block=""
                      class="cta  "
                    >
                      <span class="cta__label"> {{ block.settings.tab_btn_caption_1 }} </span>
                      <div class="cta__icon"><span class="cta__arrow-icon"></span></div>
                    </a>
                  {% endif %}
                  {% if block.settings.tab_btn_caption_2 != blank and block.settings.tab_btn_link_2 != blank %}
                    <a
                      href="{{ block.settings.tab_btn_link_2 }}"
                      target=""
                      data-shopify-editor-block=""
                      class="cta  "
                    >
                      <span class="cta__label"> {{ block.settings.tab_btn_caption_2 }} </span>
                      <div class="cta__icon"><span class="cta__arrow-icon"></span></div>
                    </a>
                  {% endif %}
                  {% if block.settings.tab_btn_caption_3 != blank and block.settings.tab_btn_link_3 != blank %}
                    <a
                      href="{{ block.settings.tab_btn_link_3 }}"
                      target=""
                      data-shopify-editor-block=""
                      class="cta  "
                    >
                      <span class="cta__label"> {{ block.settings.tab_btn_caption_3 }} </span>
                      <div class="cta__icon"><span class="cta__arrow-icon"></span></div>
                    </a>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <div class="navigation-carousel">
                {% if section.settings.tab_slider_title_4 != blank %}
                  <div class="navigation-carousel__title">{{ section.settings.tab_slider_title_4 }}</div>
                {% endif %}
                <div class="navigation-carousel__slider swiper swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
                  <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    {% for block in section.blocks %}
                      {% if block.type == 'tab_four_slider' %}
                        <a
                          href="{{ block.settings.tab_4_link }}"
                          class="navigation-carousel__card swiper-slide"
                          style="width: 256.111px; margin-right: 15px;"
                        >
                          <div class="navigation-carousel__image-container frame frame--16x9">
                            {% if block.settings.tab_4_image != blank %}
                              <img
                                src="{{ block.settings.tab_4_image | img_url:'master' }}"
                                srcset="{{ block.settings.tab_4_image | img_url:'master' }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="{{ block.settings.tab_4_image.alt }}"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% else %}
                              <img
                                src="{{ 'placeholder.png' | asset_url }}"
                                srcset="{{ 'placeholder.png' | asset_url }}"
                                sizes="(max-width: 450px) 80w, (max-width: 991px) 310px, 257px"
                                loading="lazy"
                                alt="placeholder"
                                class="frame__inner navigation-carousel__image"
                              >
                            {% endif %}
                          </div>

                          {% if block.settings.tab_4_text != blank %}
                            <div class="navigation-carousel__card-title">
                              {{ block.settings.tab_4_text }}
                            </div>
                          {% endif %}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="navigation-carousel__arrows-container">
                    <div data-arrow-prev="true" class="navigation-carousel__arrow--prev swiper-button-disabled"></div>
                    <div data-arrow-next="true" class="navigation-carousel__arrow--next"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if section.settings.tab_title_5 != blank %}
            <div id="tab5" class="tab_inner">
              <div class="navigation-form">
                <div class="navigation-form__log-in">
                  <div class="navigation-form__header">
                    <h6 class="navigation-form__title">Sign in:</h6>
                    <p class="navigation-form__subtitle">Quick checkout, order history and more.</p>
                  </div>
                  <form
                    method="post"
                    action="/account/login"
                    accept-charset="UTF-8"
                    data-login-with-shop="true"
                    data-gtm-form-interact-id="7"
                  >
                    <input type="hidden" name="form_type" value="customer_login"
                    ><input type="hidden" name="utf8" value="✓">
                    <div class="navigation-form__fields">
                      <div class="form-group">
                        <input
                          type="email"
                          name="customer[email]"
                          placeholder="Email"
                          class="form-control navigation-form__field"
                          data-gtm-form-interact-field-id="14"
                          required
                        >
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          name="customer[password]"
                          placeholder="Password"
                          class="form-control navigation-form__field"
                          data-gtm-form-interact-field-id="15"
                          required
                        >
                      </div>
                    </div>
                    <div class="navigation-form__footer text-center">
                      <button type="submit" class="btn btn-white navigation-form__button">Sign In</button>
                      <a href="/account/login#recover" class="btn-link btn--small">Forgot Your Password?</a>
                      <a href="/account/register" class="btn-link navigation-form__link-button">Create Account</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="navigation-backdrop"></div>
  </div>
</div>

{% schema %}
  {
    "name": "New - Navigation",
    "tag": "div",
    "blocks": [{"type":"@theme"}],
    "settings": [],
    "enabled_on": {
      "templates": ["*"],
      "groups": ["header"]
    }
  }
{% endschema %}