<div
  id="link-card-slider-165781066364b1fa9f"
  class="card-slider "
  data-section-type="product-card-slider"
  data-section-id="165781066364b1fa9f"
>
  <style>
    #link-card-slider-165781066364b1fa9f {
      background-color: #f5f5f6;
      color: #121212;
    }

    #link-card-slider-165781066364b1fa9f .product-card__add-to-cart {
      color: #121212;
      border-color: #121212;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="card-slider__heading">
        <div class="card-slider__info-container">
          {% for block in section.blocks %}
            {{ block.settings.heading }} === {{ block.shopify_attributes.id }}<br/>
          {% endfor %}
          {% if section.settings.heading != blank %}
            <h2 class="card-slider__title h2">{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.content != blank %}
            <p class="card-slider__copy p3">{{ section.settings.content }}</p>
          {% endif %}
        </div>
        {% content_for 'blocks' %}
        <div class="card-slider__cta-container">
          <a class="btn-link card-slider__button" href="{{ collection.url }}">Shop All</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured Collection",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets": [
      {
        "name": "NEW - Featured Collection"
      }
    ]
  }
{% endschema %}