<div
  id="hero-{{ section.id }}"
  class="hero container-fluid hero--vertical-center hero--horizontal-center hero--horizontal-center-m hero--vertical-center-m"
  data-section-id="16518471114edcf1ed"
  data-section-type="hero"
>
  <style>
    #hero-{{ section.id }} .hero__text,
    #hero-{{ section.id }} .hero__title {
      color: #ffffff;
    }
  </style>
  <div class="hero__video-container">
    <video
      data-background-video
      autoplay
      loop
      muted
      playsinline
    >
      {%- if section.settings.video_sec != blank -%}
        <source
          type="video/mp4"
          src="{{ section.settings.video_sec }}"
          data-mp4-video
        >
      {%- else -%}
        <source
          type="video/mp4"
          src="https://cdn.shopify.com/videos/c/o/v/dca3da5ba23f4dc4a4bbec7fb73f778d.mp4"
          data-mp4-video
        >
      {%- endif -%}
    </video>
  </div>

  <div class="hero__inner col-20 col-lg-11">
    {%- if section.settings.image != blank -%}
      <img
        src="{{ section.settings.image | image_url: "368x" }}"
        srcset="{{ section.settings.image | image_url: "368x" }}"
        class="hero__title-image"
        sizes="100vw"
        loading="lazy"
        alt="Video image"
        width="368"
        height="300"
      >
    {%- endif -%}
    {%- if section.settings.title_cnt != blank -%}
      <h1 class="hero__title h1">
        {{ section.settings.title_cnt }}
      </h1>
    {%- endif -%}
    {%- if section.settings.subtext != blank -%}
      <p class="hero__text p2">{{ section.settings.subtext }}</p>
    {%- endif -%}

    {%- if section.settings.button_text != blank and section.settings.link != blank -%}
      <div>
        <a href="{{ section.settings.link }}" class="btn btn-white btn-white-m hero__btn">
          {{ section.settings.button_text }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Hero Video",
  "settings": [

     {

            "type": "text",
           "id": "video_sec",
           "label": "Video Link"
    },

    {
            "type": "image_picker",
           "id": "image",
           "label": "Image"
    },
     {
           "type": "text",
           "id": "title_cnt",
           "label": "Title Contant"
   },
     {
           "type": "text",
           "id": "subtext",
           "label": "Text"
   },
      {
            "type": "text",
           "id": "button_text",
           "label": "Button"
     },
    {
      "type":"url",
           "id":"link",
           "label":"Button Link"
    }



  ],
  "presets": [
    {
      "name": "Hero Video"
    }
  ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
