<div id="shopify-section-footer" class="shopify-section">
  <style>
    .footer-banner__text .highlight-text {
      color: #a3ff00 !impotant;
    }
  </style>

  <footer class="footer" data-section-id="footer" data-section-type="footer">
    <div class="container-fluid-max footer-grid">
      <div class="footer-main">
        {% if section.settings.form_pre_heading != blank %}
          <div class="marketing-morsel p3">{{ section.settings.form_pre_heading }}</div>
        {% endif %}

        <div class="footer-signup">
          {% if section.settings.form_heading != blank %}
            <h2 class="footer-signup__title h4">{{ section.settings.form_heading }}</h2>
          {% endif %}

          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <div
              class="footer-signup__message"
              data-footer-signup-message
              data-message-success="You&#39;re signed up! Check your email to confirm."
              data-message-already-subscribed="You&amp;#39;re already subscribed!"
              data-message-fail="Please check your email and try again."
            ></div>
            <div
              class="newsletter-form-inputs {% if form.posted_successfully? %}hidden{% endif %}"
              data-footer-signup-controls
            >
              <input
                type="email"
                class="footer-signup__input"
                data-footer-signup-input
                value=""
                name="contact[email]"
                placeholder="Enter your email"
                required="required"
              >
              <button type="submit" class="btn {%- unless settings.theme_type == "light" -%}btn-white {%- endunless -%}">Sign Me Up</button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
            {%- if form.posted_successfully? -%}
              <span
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="ContactFooter-success"
                tabindex="-1"
                autofocus
              >
                {{- 'general.newsletter.success' | t -}}
              </span>
            {%- endif -%}
          {% endform %}
        </div>

        <ul class="social-media " role="list">
          {% if settings.social_facebook_link != blank %}
            <li>
              <a
                href="{{ settings.social_facebook_link }}"
                class="tap-area"
                target="_blank"
                rel="noopener"
                aria-label="Follow on Facebook"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.social_instagram_link != blank %}
            <li>
              <a
                href="{{ settings.social_instagram_link }}"
                class="tap-area"
                target="_blank"
                rel="noopener"
                aria-label="Follow on Instagram"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.social_youtube_link != blank %}
            <li>
              <a
                href="{{ settings.social_youtube_link }}"
                class="tap-area"
                target="_blank"
                rel="noopener"
                aria-label="Follow on YouTube"
              >
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.social_linkedin_link != blank %}
            <li>
              <a
                href="{{ settings.social_linkedin_link }}"
                class="tap-area"
                target="_blank"
              >
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
            <li>
              <a
                href="{{ settings.social_twitter_link }}"
                class="tap-area"
                target="_blank"
              >
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.social_gmail_link != blank %}
            <li>
              <a
                href="{{ settings.social_gmail_link }}"
                class="tap-area"
                target="_blank"
              >
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-aside">
        {% if section.settings.menu_1 != blank %}
          <div class="footer-menu">
            <h2 class="footer-menu__title h6">{{ linklists[section.settings.menu_1].title }}</h2>

            <ul class="footer-menu__list">
              {%- for link in linklists[section.settings.menu_1].links -%}
                <li class="footer-menu__list-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if section.settings.menu_3 != blank %}
          <div class="footer-menu">
            <h2 class="footer-menu__title h6">{{ linklists[section.settings.menu_3].title }}</h2>

            <ul class="footer-menu__list">
              {%- for link in linklists[section.settings.menu_3].links -%}
                <li class="footer-menu__list-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="footer-aside footer-aside--last">
        {% if section.settings.menu_2 != blank %}
          <div class="footer-menu">
            <h2 class="footer-menu__title h6">{{ linklists[section.settings.menu_2].title }}</h2>

            <ul class="footer-menu__list">
              {%- for link in linklists[section.settings.menu_2].links -%}
                <li class="footer-menu__list-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if section.settings.menu_4 != blank %}
          <div class="footer-menu">
            <h2 class="footer-menu__title h6">{{ linklists[section.settings.menu_4].title }}</h2>
            <ul class="footer-menu__list">
              {%- for link in linklists[section.settings.menu_4].links -%}
                <li class="footer-menu__list-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="footer-banner">
      {% for block in section.blocks %}
        {% if block.type == 'text' %}
          <div class="footer-banner__text">
            {{ block.settings.footer_text }}
            {% if block.settings.highlight_text != blank -%}
              <span class="highlight-text">{{ block.settings.highlight_text }}</span>
            {%- endif -%}
            &nbsp;
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.copy_text != blank %}
      <div class="footer-colophon">
        <div class="container-fluid-max">
          <div class="copyright-container">{{ section.settings.copy_text }}</div>
        </div>
      </div>
    {% endif %}
  </footer>
</div>

{% schema %}
{
  "name": "New - Footer",
  "settings": [
    {
      "type": "text",
      "id": "form_pre_heading",
      "label": "Newsletter Pre Heading",
      "default":"Sign up for first access on everything"
    },
    {
      "type": "text",
      "id": "form_heading",
      "label": "Newsletter Heading",
      "default":"GET ALERTS WHEN NEW GEAR ARRIVES"
    },
    {
      "type":"header",
      "content":"Footer Menu"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2"
    },
    {
      "type": "link_list",
      "id": "menu_3",
      "label": "Menu 3"
    },
    {
      "type": "link_list",
      "id": "menu_4",
      "label": "Menu 4"
    },
    {
      "type": "text",
      "id": "copy_text",
      "label": "Copyright Text",
      "default":"© 2023 Shmeww Apparel LLC. All rights reserved."
    }
  ],
  "presets": [
    {
      "name": "Collection List Slider"
    }
  ],
  "blocks": [
   {
     "name": "Footer Text",
     "type": "text",
     "settings": [
       {
         "type": "text",
         "id":"footer_text",
         "label": "Footer Text"
       },
       {
          "type": "text",
          "id":"highlight_text",
          "label": "Highlight Text "
       }
     ]
   },
     {
     "name": "Footer Menu",
     "type": "menu",
     "settings": [
       {
         "type": "link_list",
         "id":"footer_menu",
         "label": "Footer Menu"
       }
     ]
   }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}