<div
  id="hero-{{ section.id }}"
  class="hero container-fluid hero--vertical-{{ section.settings.vertical_aligment }} hero--horizontal-{{ section.settings.horizontal_aligment }} hero--horizontal-{{ section.settings.horizontal_aligment_m }}-m hero--vertical-{{ section.settings.vertical_aligment_m }}-m"
  data-section-id="{{ section.id }}"
  data-section-type="hero"
>
  {% if section.settings.banner_type == 'image' %}
  {% if section.settings.image != blank %}
    <img
      src="{{ section.settings.image | img_url:"1920x" }}"
      srcset="{{ section.settings.image | img_url:"1920x" }}"
      class="hero__bg hero__bg--desktop"
      alt=""
    >
  {% else %}
    <img
      src="{{ 'banner_placeholder.png' | asset_url }}"
      srcset="{{ 'banner_placeholder.png' | asset_url }}"
      class="hero__bg hero__bg--desktop"
      alt=""
    >
  {% endif %}
  {% if section.settings.image2 != blank %}
    <img
      src="{{ section.settings.image2 | img_url:"856x" }}"
      srcset="{{ section.settings.image2 | img_url:"856x" }}"
      class="hero__bg hero__bg--mobile"
      alt=""
    >
  {% else %}
    <img
      src="{{ 'dummy_856x1200_ffffff_cccccc.png' | asset_url }}"
      srcset="{{ 'dummy_856x1200_ffffff_cccccc.png' |  asset_url }}"
      class="hero__bg hero__bg--mobile"
      alt=""
    >
  {% endif %}
  {% else %}
  <div class="hero__video-container">
    <video
      data-background-video
      autoplay
      loop
      muted
      playsinline
    >
      {%- if section.settings.video_sec != blank -%}
        <source
          type="video/mp4"
          src="{{ section.settings.video_sec }}"
          data-mp4-video
        >
      {%- else -%}
        <source
          type="video/mp4"
          src="https://cdn.shopify.com/videos/c/o/v/dca3da5ba23f4dc4a4bbec7fb73f778d.mp4"
          data-mp4-video
        >
      {%- endif -%}
    </video>
  </div>
  {% endif %}
  <div class="hero__inner">
    {% if section.settings.heading != blank %}
      <h2 class="hero__title h1">
        {{ section.settings.heading }}
      </h2>
    {% endif %}
    {% if section.settings.subtext != blank %}
      <p class="hero__text p2">{{ section.settings.subtext }}</p>
    {% endif %}
    {% if section.settings.button != blank and section.settings.button_link != blank %}
      <div>
        <a href="{{ section.settings.button_link }}" class="btn btn-white btn-white-m hero__btn">
          {{ section.settings.button }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "NEW - Hero banner",
  "settings": [
    {
      "type": "radio",
      "id": "banner_type",
      "label": "Banner type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "text",
      "id": "video_sec",
      "label": "Video Link",
      "info": "Select video from 'Banner type' for video option."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Mobile image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight color"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Sub Text",
      "default": "Morbi dapibus mattis accumsan. Donec a rutrum sapien."
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Desktop content alignment"
    },
    {
      "type": "radio",
      "id": "vertical_aligment",
      "label": "Vertical",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "radio",
      "id": "horizontal_aligment",
      "label": "Horizontal",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Mobile content alignment"
    },
    {
      "type": "radio",
      "id": "vertical_aligment_m",
      "label": "Vertical",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "radio",
      "id": "horizontal_aligment_m",
      "label": "Horizontal",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "NEW - Hero Banner"
    }
  ]
}
{% endschema %}

<style type="text/css">
  #hero-{{ section.id }} .hero__title {
    color: {{section.settings.text_color}} !important;
  }
  #hero-{{ section.id }} .hero__title span  {
    color: {{section.settings.highlight_color}} !important;
  }
</style>

{% javascript %}
{% endjavascript %}
