{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    {%- if predictive_search.resources.products.size > 0 -%}
      <h6 id="predictive-search-products">
        Products
      </h6>
      <ul role="listbox" aria-labelledby="predictive-search-products">
        {%- for product in predictive_search.resources.products -%}
          <li role="option">
            <a href="{{ product.url }}">
              {{ product | image_url: width: 70 | image_tag }}
              <span>{{ product.title }}</span>
            </a>
          </li>
        {% include 'product_items', product: product %}
        {%- endfor -%}
      </ul>

      {%- paginate collection.products by 8 -%}
          <div class="findify__body row">
            <div class="findify__loading-container"><div class="findify__loading-spinner"></div></div>
            {% render 'filters',
              results: results,
              enable_filtering: true,
              enable_sorting: true,
              paginate: paginate,
              total_active_values: total_active_values,
              sort_by: sort_by,
              terms: terms
            %}
            <div class="collection__grid col-24">
              <div
                id="product-grid"
                data-id="{{ section.id }}"
                class="row content-grid content-grid--1-col content-grid--md-2-col content-grid--lg-3-col content-grid--xl-4-col"
              >
                {% for product in predictive_search.resources.products %}
                  <div class="content-grid__item">
                    {% include 'product_items', product: product %}
                  </div>
                {% endfor %}
              </div>

              <div class="collection page-width grid-loader">
                {%- if paginate.pages > 1 and paginate.next -%}
                  <input type="hidden" value="{{ paginate.next.url }}" data-next-link>
                  <input type="hidden" value="{{ paginate.pages }}" data-all-pages>
                  <input type="hidden" value="{{ paginate.current_page }}" data-this-page>
                  <input type="hidden" value="{{ collection.url }}" data-coll-url>
                  <div class="load-more_wrap">
                    <button id="loadMore" class="btn js-load-more btn--primary hero__btn button ">
                      <span load-more-text>Load More</span>
                      <span class="hide" loader>
                        <img src="{{ 'loader.gif' | asset_url }}">
                      </span>
                    </button>
                  </div>
                {%- endif -%}
              </div>
            </div>

            <span class="drawer__overlay"></span>
          </div>
        {%- endpaginate -%}
    {%- endif -%}
    <button>
      Search for “{{ predictive_search.terms }}”
    </button>
  </div>
{%- endif -%}
