{% if cart.item_count > 0 %}
  <h1>{{- 'cart.title' | t -}}</h1>

    <form action="/cart" method="post" class="ajax-cart-form custom-cart-form" novalidate="" >
      <input name="section_id" type="hidden" value="ajax-cart">

      <div class="ajax-cart__body" data-ajax-cart-body="">
        <div class="ajax-cart-inner">
          
          <ul class="ajax-cart__list">
            <div class="cart-header">
            <li >Product</li>
            <li ></li>
              <li ></li>
              <li >Price</li>
              <li >quantity</li>
              </div>
            {% for line_item in cart.items %}
              <li
                class="ajax-cart__item "
                data-key="{{ line_item.key }}"
                data-qty="{{ line_item.quantity }}"
                data-ajax-item=""
              >
                <div class="ajax-cart__item-image-wrapper frame frame--1x1">
              {%- if line_item.image != blank -%}
                  <img
                    src="{{ line_item.image | img_url: "150x" }}"
                    srcset="{{ line_item.image | img_url: "150x" }}"
                    sizes="(max-width: 540px) 100px, 130px"
                    class="ajax-cart__item-image"
                  >
                {%- else -%}
                  {{ 'product-1' | placeholder_svg_tag }}
                {%- endif -%}
                </div>
                <div class="ajax-cart__item-info">
                  <div class="ajax-cart__title-container">
                    <a href="{{ line_item.url }}" class="ajax-cart__item-header">
                      {{ line_item.product.title }}
                    </a>
                         <ul class="ajax-cart__item-options">
                    <li class="ajax-cart__item-option">
                      {{ line_item.variant.title }}
                    </li>
                    {%- assign property_size = product.properties | size -%}
                    {% if property_size > 0 %}
                      {% for p in product.properties %}
                        {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
                        {% unless p.last == blank or first_character_in_key == '_' %}
                          <div>
                            {{ p.first }}:
                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}
                          </div>
                        {% endunless %}
                      {% endfor %}
                    {% endif %}
                  </ul>
                  </div>
             
                   <div class="ajax-cart__item-price">
                      <span class="ajax-cart__item-price">{{ line_item.original_line_price | money }}</span>
                    </div>
                  <div class="ajax-item__footer">
                   
                    <div class="ajax-item__item-controls">
                      <div class="ajax-item__quantity-adjuster" data-quantity-adjuster="">
                        <button
                          type="button"
                          class="quantity-adjuster__decrement"
                          data-decrement=""
                          {% if line_item.quantity <= 1 %}
                            disabled
                          {% endif %}
                        >
                          -
                        </button>
                        <input
                          class="quantity-adjuster__input"
                          name="updates[]"
                          type="number"
                          value="{{ line_item.quantity }}"
                          min="1"
                          readonly
                        >
                        <button
                          type="button"
                          class="quantity-adjuster__increment"
                          data-increment=""
                          {% if line_item.variant.inventory_quantity <= line_item.quantity %}
                            disabled
                          {% endif %}
                        >
                          +
                        </button>
                      </div>
                      <!-- <button class="ajax-cart__item-remove" data-ajax-cart-item-remove="">Remove</button> -->
                      <cart-remove-button
                        id="CartDrawer-Remove-{{ line_item.index | plus: 1 }}"
                        data-index="{{ line_item.index | plus: 1 }}"
                      >
                      
                      <a   class="cart-remove-link" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                       {{ 'cart.remove' | t }}
                      </a>
                      </cart-remove-button>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% comment %}
      <div class="ajax-cart__promo">
        <p>Free Shipping Orders $80+ / Free Returns</p>
      </div>
      {% endcomment %}
      <div class="ajax-cart__footer" data-ajax-cart-footer="">
        <div class="ajax-cart__footer-top" data-ajax-cart-footer-top="">
          <div class="ajax-cart__footer-row">
            <p class="ajax-cart__footer-subtotal text-center u-fw-bold">
              <span>{{ 'cart.subtotal' | t }}:</span> <span class="total_price">{{ cart.total_price | money }}</span>
            </p>
          </div>
        </div>
           {% if settings.cart_notes_enable %}
        <label for="CartSpecialInstructions">{{ 'cart.general.note' }}</label>
        <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      {% endif %}

    <p class="cart-shipping">{{ 'cart.shipping_at_checkout' | t }}</p>
        <div class="ajax-cart__footer-bottom">
          <div class="ajax-cart__footer-row">
            <button type="submit" name="checkout" class="ajax-cart__footer-checkout btn btn-block btn-secondary">
              {{ 'cart.checkout' | t }}
            </button>
          </div>
          <div class="ajax-cart__footer-row text-center">
            <a href="/collections/all" class="btn btn-link ajax-cart__continue-shopping-btn" data-ajax-cart-close="">
              {{ 'cart.continue_to_shopping' | t }}
            </a>
          </div>
        </div>
      </div>
    </form>
{% else %}
  <h1>{{- 'cart.title' |t -}}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.no_data_cart' | t }}</p>
    <p>
      <a href="/collections/all" class="btn btn-link ajax-cart__continue-shopping-btn" data-ajax-cart-close="">
              {{ 'cart.continue_to_shopping' | t }}
            </a></p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' }}</p>
  </div>
{% endif %}